<div class="chat">
  <h3>Main chat room</h3>

  <div ng-if="!$ctrl.connected">
    <label for="nickname">Nick:</label>
    <input id="nickname" type="text" ng-model="$ctrl.nickname">
    <button ng-click="$ctrl.onJoin()">Join</button>
  </div>
  
  <div ng-if="$ctrl.connected">
    <p>You are connected under nickname `{{$ctrl.nickname}}`</p>
    <div class="user-list">
      <span>Active users:</span>
      <ul>
        <li ng-repeat="user in $ctrl.users">{{user}}</li>
      </ul>
    </div>
    <p>{{$ctrl.users.length}} users online</p>
  </div>
</div>
